body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    color: black;
}
.logo{
    text-align: center;
    grid-area: logo;
}
.logo a{
    text-decoration: none;
}
nav.menu{
    display: flex;
    justify-content: flex-end;
    grid-area: navmenu;
}
nav.menu ul li{
    display: inline-block;
    padding: 1em;
}
nav.menu ul li a{
    text-decoration: none;
}
section{
    margin: 0 auto;
}
.login-btn{
    grid-area: login;
    text-align: center;
}
.slides{
    grid-area: carousel;
}
.caja1{ grid-area: caja1;}
.caja2{ grid-area: caja2;}
.caja3{ grid-area: caja3;}
.caja4{ grid-area: caja4;}
.caja5{ grid-area: caja5;}
.caja6{ grid-area: caja6;}
.piepagina{
    grid-area: piepagina;
    text-align: center;
}
.copyright{ 
    grid-area: copyright;
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: auto;
    grid-template-areas: 
    "logo navmenu login"
    "carousel carousel carousel"
    "caja1 caja1 caja1"
    "caja2 caja2 caja2"
    "caja3 caja3 caja3"
    "caja4 caja4 caja4"
    "caja5 caja5 caja5"
    "caja6 caja6 caja6"
    "piepagina piepagina piepagina"
    "copyright copyright copyright";

}